<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/workflow1?createDatabaseIfNotExist=true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
         <property name="connection.username">root</property>
        <property name="connection.password">jain1997@A</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.example.erp.bean.User" />
        <mapping class="com.example.erp.bean.Event" />
        <mapping class="com.example.erp.bean.EventInstance" />
        <mapping class="com.example.erp.bean.Workflow" />
        <mapping class="com.example.erp.bean.WorkflowInstance" />
        <mapping class="com.example.erp.bean.Designer" />


    </session-factory>
</hibernate-configuration>